body {
  background: lightcyan;
}
header {
  background: salmon;
  text-align: center;
  /* color: aqua; */
  padding: 1%;
  margin-bottom: 5%;
}
main {
  display: flex;
  /* margin-top: 0 auto; */
  /* margin: 0 auto; */
  /* text-align: center; */
  /* display: flex; */
  justify-content: center;
  margin-bottom: 5%;
}
img {
  /* display: flex; */
  width: 30%;
  /* outline: dashed yellowgreen; */
}
#about {
  padding-right: 5%;
}
#links {
  padding-left: 5%;
}
li {
  padding-top: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  border: solid paleturquoise;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.other {
  margin: 5% 0 5% 0;
}
#quote {
  text-align: center;
  font-style: italic;
}
a:hover {
  background-color: black;
  color: yellow;
}
.important {
  color: red;
  font-weight: bold;
  font-size: 25px;
}
