.bold {
  font-weight: bold;
  font-size: 18px;
}
p {
  margin-top: 5;
  margin-bottom: 5;
}
.ital {
  font-style: italic;
}
table {
  /* display: flex; */
  margin: 5px auto;
}
th {
  margin: 0 10px 0 1000px;
}
.gone {
  opacity: 0;
}
span {
  font-weight: bold;
}
